/* All styles for your header Components live here */
.header-container{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    /* justify-content: space-between; */
}
.header-content{
    display: flex;
    flex-direction: column;
}
.header-title{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    vertical-align: center;
    margin: 0px;
}

